<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header"></head>
<body id="page-top">
	<div>
		<nav class="navbar navbar-expand navbar-dark bg-dark static-top"
			th:include="fragments/sidebar.html :: navbar"></nav>
		<div id="wrapper">
			<ul class="sidebar navbar-nav"
				th:replace="fragments/sidebar :: sidebar"></ul>
			<!-- DataTable -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fas fa-table"></i> Instruments List
					<p></p>
				</div>
				

				
					<!-- Breadcrumbs-->
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Sound Studio</a></li>
						<li class="breadcrumb-item active">Instruments List</li>
					</ol>

				<form
					class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
					method="POST" action="/addMusician" enctype="multipart/form-data">

					<input class="form-control" type="submit" value="Submit" />

					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable">
								<thead>
									<tr>
										<th>Name</th>
										<th>Instrument Family</th>
										<th>Musicians</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Name</th>
										<th>Instrument Family</th>
										<th>Musicians</th>
									</tr>
								</tfoot>
								<tbody>
									<th:block th:each="instrument : ${instruments}">
									<tr>
										<td th:text="${instrument.instName}"></td>
										<td th:text="${instrument.instFamily.family}"></td>
										<td class="col-md-4"><div class="dropdown">
												<button class="btn dropdown-toggle" type="button"
													data-toggle="dropdown">
													Musicians <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<th:block th:each="musician : ${instrument.musicians}">
														<li><a th:text="${musician.name} + ${musician.surname}"></a>
													</th:block>
												</ul>
											</div></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
					<input class="form-control" type="submit" value="Submit" />
				</form>
			</div>
			
			
			
		</div>
	</div>
	<!-- <footer th:replace="fragments/footer.html :: footer"></footer> -->
</body>
<footer th:replace="fragments/footer.html :: footer"></footer>
</html>