<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
	<!-- <footer class="sticky-footer"> -->
	<footer
		style="position:absolute; right: 0; bottom: 0; width: 100%; height: 20px; background-color: #e9ecef;">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright © alex tolkmitt 2018</span>
			</div>
		</div>
	</footer>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Bootstrap core JavaScript-->
	<script src="bootstrap/vendor/jquery/jquery.min.js"></script>
	<script src="bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Page level plugin JavaScript-->
	<script src="bootstrap/vendor/chart.js/Chart.min.js"></script>
	<script src="bootstrap/vendor/datatables/jquery.dataTables.js"></script>
	<script src="bootstrap/vendor/datatables/dataTables.bootstrap4.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="bootstrap/js/sb-admin.min.js"></script>

	<!-- Demo scripts for this page-->
	<script src="bootstrap/js/demo/datatables-demo.js"></script>
	<script src="bootstrap/js/demo/chart-area-demo.js"></script>
</div>
</html>